/* Custom Css
   @author: JRC
   @version: 1.0
   @github: .......
************************************************************/

main {
    margin-top: 4rem;
    min-height: 80vh;
}

footer {
    color:yellows;

td {
    vertical-align: middle !important;    
}


