/* Custom Css
   @author: JRC
   @version: 1.0
   @github: .......
************************************************************/

main {
    margin-top: 4rem;
    min-height: 80vh;
}

footer {
    color:yellows;

td {
    vertical-align: middle !important;    
}
.form-libro {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

td {
    vertical-align: middle !important;    
}


